.list{width:100%;margin: 0 auto;padding: 0;display: inline-flex;flex-wrap: wrap;}
.list .item{position: relative;width:29%;background-color:#fff;margin:20px 2%;margin-bottom: 20px;border-radius: 3px;transition: all 0.3s;box-shadow:0 5px 35px rgba(50, 50, 93, 0.1), 0 0px 5px rgba(0, 0, 0, 0.07);}
@media screen and (max-width: 767px){
	.list .item{width: 46%;margin: 20px 2%;}
	.wrapper-dropdown-3{width:100px;margin-right:0;}
	.search-input form{transition:all .3s;position:fixed;bottom:10px;right:10px;z-index:11;background:rgba(0, 188, 212,.3);min-width:50px;height:50px;text-align:center;}
	.search-input form:hover{background:rgba(0,188,212,.8);}
	.search-input i{font-size:26px;color:#fff;line-height:40px;}
	.search-input>a{line-height:30px;}
	.search-input input.show{border-color:#fff;margin-right:10px;}
	header.navbar .container.content h1{font-size:28px;}
	header.navbar .container.content h1+p{font-size:16px;}
}
@media screen and (max-width: 375px){
	.list .item{width: 96%;margin: 20px 2%;}
        .search-input input.show{width:140px;}
        ul#filter li label{font-size:14px;}
	.search-input>a{font-size:14px;line-height:40px;}
	.navbar{margin-bottom:0;}
	body .content{margin-top:10px;}
	.list .item{margin:5px;}
	header.navbar .container.content h1+p{}       	
}
.white-btngroup{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;text-align: center;}
.white-btn{display: none;padding: 10px;border-radius: 6px;background-color: rgba(255,255,255,1);margin:0 5px;font-size:18px;}
.list .item:hover{cursor: pointer;background-color: rgba(255,255,255,0.7);box-shadow: 0 5px 35px rgba(50, 50, 93, 0.3), 0 0px 5px rgba(0, 0, 0, 0.2)}
.list .item:hover a{text-decoration: none;}
/*.list .item:hover .white-btn{display: inline-block;}*/
.list .item-img{overflow: hidden;}
.list .item img{transition: .3s all;}
.list .item:hover img{/*opacity: 0.4;*//*transform: scale(1.1);*/}
.list .item .step{position: absolute;width: 36px;height: 36px;top:-3px;left:0;border: 5px solid #4A6495;border-radius: 23px;text-align: center;line-height: 36px;}
.list .item h2{font-size: 24px;font-weight: normal;}
.list .item p{line-height: 30px;margin-top: 10px;}
.item-title{text-align: center;color: rgba(0,0,0,0.8);padding:30px;}
.item-title h3{margin: 5px;}
.item-img img{width: 100%;}
.filter,.pages{width: 100%;}
.filter{background-color: #fff;box-shadow:1px 1px 6px rgba(0, 0, 0, 0.3);padding-right: 20px;margin-bottom: 10px;}
.filter ul{display: flex;list-style: none;justify-content: flex-start;padding: 10px 20px 0;margin-bottom: 0;}
.filter li{margin-right: 10px;padding-bottom: 10px;border-bottom:2px solid transparent;}
.filter li:hover,.filter li.active{border-bottom: 2px solid #4A6495;}
.filter li:hover a,.filter li.active a{color: #777;text-decoration: none;}
.filter #search{border: 1px solid #C3C3C3;padding: 3px 6px;border-radius: 4px;outline: none;}
.pages ul{list-style: none;display: flex;justify-content: center;}
.pages li,.pages>a{box-shadow:0 5px 10px rgba(50, 50, 93, 0.05), 0 0px 5px rgba(0, 0, 0, 0.05);cursor:pointer;transition:all .3s;display: inline-block;width: 50px;height: 50px;border-radius: 25px;line-height:50px;background-color: #fff;text-align: center;margin: 0 5px;}
.pages a{color:rgba(0,0,0,.8);text-decoration: none;}
.pages li.active,.pages li:hover{background-color: rgb(0, 188, 212);color:#fff;}
.pages li.active a,.pages li:hover a{color:#fff;}
.pages{position:relative;bottom:0;left: 50%;transform: translateX(-50%);}
.pages.fixed-bottom{position:fixed;bottom:20px;}
#filter {padding:0 10px;height: 40px;}
#filter>li{position: relative;}
// #filter ul{width: auto;top: 0px;transition:none;left: 5px;}
#filter label{line-height: 40px;}
#filter .dropmenu:hover>a,.filter .dropmenu:hover>a{box-shadow: none;background-color: transparent!important;}
#filter .order{display: inline-block;position: relative;padding:10px 5px;}
#filter .order:after{content: "\f107";font-family: "FontAwesome";padding-left: 5px;right: 0;font-size: 13px;}
#filter .search-bounce{position: relative;padding: 10px;}
#dd-page{border: none;border-bottom: 1px solid rgba(0,0,0,.7);background-color: transparent;}
.transparent-btn{outline:0;position: absolute;z-index: -1;width: 30px;height: 40px;top: 4px;background-color: transparent;right: 0;border:none;}
.pageinfo{text-align: right;margin: 5px 0}
.pageinfo span.text{margin: 10px;}
