{% extends "./parent.html" %}
{% block title %}Upload--Firekylin{% endblock %}
{% block style %}
<link href="https://cdn.bootcss.com/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" rel="stylesheet">
<style>
.content{padding-top:10px;}
article header{border-left: 4px rgb(0, 188, 212) solid;padding: 10px;margin-bottom: 10px;}
article header h3{margin:0;}
article p{text-indent:2em;}
.content>article{margin-bottom: 20px;}
</style>
{% endblock %}

{% block content %}
<div class="content">
	<article>
		<header>
			<h3>Submit Your Theme to the Theme Store(*.zip) {{filepath}}</h3>
		</header>
		<section>
		{% if userInfo.user_loginname%}
		<form id="fileUpload" action="" enctype="multipart/form-data" method="post">
			<div class="fileinput fileinput-new input-group" data-provides="fileinput">
			  <div class="form-control" data-trigger="fileinput">
			  	<i class="glyphicon glyphicon-file fileinput-exists"></i>
			   	<span class="fileinput-filename"></span>
			  </div>
			  <span class="input-group-addon btn btn-default btn-file">
			  	<span class="fileinput-new">Select your theme</span>
				<span class="fileinput-exists">Change</span>
				<input type="file" name="themename" accept="aplication/zip" required>
			  </span>
			  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
			</div>
		  	<button type="submit" class="btn btn-primary">Upload Your Theme</button>
      	</form>
	    {% else %}
	    <p>Before you can upload a new theme, <a href="https://github.com/login/oauth/authorize?client_id=efaf9351830c99050b36&scope=user,public_repo">please log in</a>.</p>
	    {% endif %}
		</section>
	</article>
	<article>
		<header>
			<h3>Tips:</h3>
		</header>
		<section>
			<p>The theme you have uploaded should refer to a certain format.You can read this document to learn more.<a href="https://github.com/firekylin/firekylin/wiki/%E4%B8%BB%E9%A2%98%E5%BC%80%E5%8F%91">help document</a></p>
		</section>
	</article>
</div>
{% endblock %}

{% block script %}
  <script src="https://cdn.bootcss.com/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
  <script src="/static/js/uploadindex.js"></script>
{% endblock %}
